body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}
tr {
}
table {
  background-color: rgba(207, 207, 207, 0.404);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
td {
  padding: 10px;
  background-color: rgba(236, 236, 236, 0.322);
  border: 1px solid rgba(216, 216, 216, 0.26);
  width: 130px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#football-simulator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#team-1-image,
#team-2-image {
  width: 54px;
  height: 65px;
  padding: 5px;
}
#simulator {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 200px;
}

#result1,
#result2 {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

#team-1,
#team-2 {
  background-color: rgb(187, 235, 228);
  width: 250px;
  height: 60px;
  border: 1px solid rgba(139, 139, 139, 0.37);
  display: flex;
  justify-content: center;
  align-items: center;
}

#team-1-score,
#team-2-score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 214, 214);
  width: 60px;
  height: 60px;
  color: black;
}

#button {
  height: 50px;
  width: 200px;
  transform: translate(0px, +90px);
  padding: 5px;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button:hover {
  background-color: rgba(241, 77, 77, 0.582);
  border: 2px inset rgba(165, 165, 165, 0.363);
}
.results {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 45px;
}
#resultTable {
}
